* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin-top: 20px;
  display: flex;
  width: 262px;
  height: 272px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(
    to bottom,
    purple 0%,
    #1900ff83 35%,
    #ffffff 35%,
    #ffffff 100%
  );
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imagem img {
  height: 120px;
  border-radius: 50%;
}

.conteudo {
  margin: 10px 5px 5px;
}

.conteudo h4 {
  font-size: 16px;
  color: #6278f7;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
}

.conteudo h5 {
  font-size: 16px;
  color: black;
  font-weight: 400;
}
